<!-- שיעור ראשון - שלוש דרכים לקריאה לשרת מהלקוח -->
<app-exe1></app-exe1>
<!-- Redux - store נתונים משותפים לרוב הקומפוננטות -->
<!-- <app-edit-user></app-edit-user> -->
<!-- SPA Single Page Application ניווט בין קומפוננטות -->
<!-- <app-main-comp></app-main-comp> -->
<!-- Session Storage שמירת מידע זמני וניווט בין קומפוננטות -->
<!-- <app-main></app-main> -->
<!-- Authentication with JWT שימוש עם token והרשאות גישה -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-main-comp2></app-main-comp2> -->

<!-- <app-movies-comp></app-movies-comp> -->
